* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.hero {
  width: 100%;
  height: 60vh;
  /* background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("https://images.unsplash.com/photo-1540575467063-178a50c2df87")
      center/cover no-repeat; */

  /* background: linear-gradient(
      rgba(40, 63, 90, 0.765),
      rgba(75, 76, 74, 0.55)
    ); */

    background: radial-gradient(circle at top, #1b4d4f, #0f2027 60%);

  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-content {
  max-width: 850px;
  color: #ffffff;
  animation: fadeUp 1s ease-in-out;
}

.hero-content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #f2b705;
}

.hero-content p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #eaeaea;
}

.hero-sub {
  opacity: 0.9;
}

.hero-actions {
  margin-top: 28px;
  display: flex;
  gap: 16px;
}

.primary-btn,
.secondary-btn {
  padding: 12px 26px;
  font-size: 0.95rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #f2b705;
  border: none;
  color: #000;
  font-weight: 600;
}

.primary-btn:hover {
  background-color: #d9a304;
  transform: translateY(-2px);
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-2px);
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    /* padding: 0 5%; */
    padding: 1rem;
    height: auto;
    min-height: 60vh;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }
}
