*{
  margin: 0;
  padding: 0;
}

.footer__top{
  padding-top: 1rem;
  background: #202f31;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}

.footer-container1 {
  /* border: 2px solid blue;  */
  padding-left: 3.5rem;
  margin: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-logo-container{
  width: 7rem;
  height: 7rem;
  background-color: rgb(95, 92, 92);
  border-radius: 50%;
  
}

.footer-container1 h2 {
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
.footer-logo {
  
}



/* footer-container2 */
.footer-container2{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.1rem;
  gap: 5.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* border: 2px solid yellow; */
  height: 18rem;
}

.footer__title a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
 
}
.footer__title {
  padding-top: 1rem;
 
  
}

.accordion__collapse{
  padding-top: .7rem;
  
}

.accordion__collapse li {
  list-style: none;
  padding-top: .6rem;
}

.accordion__collapse li a{
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  
}

.footer__title-container{
  font-size: 1.5rem;
  padding-top: 1.1rem;
  
}

.accordian-address a{
  color: #fff;
}
.footer-inner-container{
  color: #fff;
  margin-top: 1rem;
}
.accordian-address{
  padding-top: 1rem;
}




/* footer-container3 */
.footer-container3{
  height: 7rem;
  /* border: 2px solid burlywood; */
  padding-left: 3.5rem;
  margin: 1.1rem;
  padding-right: 3rem; 
}

.email-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2rem;
  background-color: red;*/
  gap: 4rem; 
  
}

.email-part-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  /* background-color: red; */
  margin-top: .6rem;
  /* padding-left: 2rem; */
}

.email-details h3{
  color: #fff;
  font-size: 1.3rem;
  font-weight: 100;
}

.email-details p{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  padding-top: .3rem;
  line-height: 1.3;
}

.email-enter{
  /* background-color: red; */
  width: 27rem;
  height: 3rem;
  /* border: 2px solid red; */
   /* border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; */
  
}

.email-enter input{
  width: 100%;
  height: 100%;
  
  color: rgba(255, 255, 255, 0.6);
  /* border: 2px solid  rgb(158, 151, 151); */
  border-color: rgba(255, 255, 255, 0.06) rgba(255, 255, 255, 0.06) rgba(255, 255, 255, 0.06);
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: .7rem;
  outline: none;
 background: rgba(255, 255, 255, 0.1);
}

.newsletter__submit {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    height: 3rem;
    background: rgb(68, 173, 82);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(68, 173, 82);
    border-image: initial;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 3.2rem;
}

.emai-svg{
  display:  flex;
}



/* Social App */
.social__list {
    display: flex;
    /* flex-wrap: wrap; */
    list-style: none;
    margin: 1rem;
    /* margin-top: 1rem; */
    /* padding: 1rem; */
    gap: .5rem;
}
ul {
    /* display: block;
    list-style-type: disc; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate; */
}

.social--inv .social__item a {
    background: rgb(42, 62, 64);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.social__item a {
    align-items: center;
    display: flex;
    height: 2.75rem;
    justify-content: center;
    width: 2.75rem;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.email-rightPart{
  width: 15rem;
  /* border: 2px solid green; */
  
  
  /* margin-top: .7rem; */
}

.email-rightPart h3{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  /* margin: 1rem; */
  /* margin-top: 1rem; */
  margin-left: 1rem;
}